body{
    padding: 0;
    margin: 0;
}

#container{
    height: 100vh;
    width: 100vw;

}

#navbar{
    height: 84px ;
    width: 100%;
    display: flex;
    align-items: center;
}
#logo{
    height: 50px;
}

#nav-title{
    font-size: 25px;
    margin-top: 10px;
}
#main{
    width: 100%;
    height: calc(100% - 84px);
    background-color: rgb(238, 77, 45);
}
#login_box{
    background-image: url(https://cf.shopee.vn/file/sg-11134004-23010-qacwpnvb05lve3);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#login_form{
    width: 70%;
    height: 500px;
    background-color: white;
    margin-left: 850px;
    margin-right: 150px;
    border-radius: 5px;
}
#form-navbar{
    height: 84px ;
    width: 100%;
    display: flex;
    align-items: center
}
#form-title{
    font-size: 25px;
    margin-top: 10px;
    margin-left: 20px;
}

.email {
    margin-left: 20px;
    margin-bottom: 20px;
}
.password {
    margin-left: 20px;
    margin-bottom: 20px;
}


.email input {
    height: 30px;
    width: 440px;
}
.password input {
    height: 30px;
    width: 440px;
}
div button {
    height: 30px;
    width: 440px;
    margin-left: 20px;
    margin-bottom: 20px;
}
#form3{
    height: 10px ;
    width: 100%;
    display: flex;
    align-items: center
}
.forgot{
    margin-right: 260px;
}

